.profile {
    height: 100vh;
    background-color: rgb(79, 238, 230);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
        font-size: 50px;
        line-height: 50px;

    }

    p {
        font-size: 25px;

    }

    form {
        flex: 1;
        padding: 50px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        

        p {
            font-size: 25px;

        }

        input {
            background-color: lightblue;
            border: none;
            border-bottom: 1px solid #555;
            padding: 20px 10px;
            color: white;
            font-size: 20px;

        }

        button {

            width: 50%;
            padding: 10px;
            border: none;
            background-color: rgb(0, 148, 153);
            color: white;
            cursor: pointer;
            align-self: center;
        }

    }
}