.home {
    height: 100vh;
    background-color: rgb(79, 238, 230);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;

    .Products {
        flex-direction: column;
        align-items: center;
        display: flex;
        border: 1px solid black;
        width: 100%;
        height: 100%;

        h1 {
            font-size: 50px;
            line-height: 50px;
        }

        align-items: left;

        .productList {

            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;

            .product1 {
                background-color: lightblue;
                border: 1px solid black;
                padding: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    width: 200px;
                    height: 200px;
                }

                h2 {}

                p {}

                button {
                    width: 100%;
                    padding: 10px;
                    border: none;
                    background-color: rgb(0, 148, 153);
                    color: white;
                    cursor: pointer;
                    align-self: center;

                }
            }

            .product2 {
                background-color: lightblue;
                border: 1px solid black;
                padding: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    width: 200px;
                    height: 200px;
                }

                h2 {}

                p {}

                button {
                    width: 100%;
                    padding: 10px;
                    border: none;
                    background-color: rgb(0, 148, 153);
                    color: white;
                    cursor: pointer;
                    align-self: center;
                }
            }

        }
    }
}